<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <title>Pilot Roster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="pinegrow, blocks, bootstrap" />
    <meta name="description" content="My new website" />
    <link rel="shortcut icon" href="ico/favicon.png">
    <!-- Core CSS -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet">
    <!-- Style Library -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

  <body data-spy="scroll" data-target="nav">
    <section id="promo-3" class="content-block promo-3 min-height-700px">

      <video autoplay loop poster="/assets/bcrs.jpg" id="bgvid">
          <source src="/assets/bcrs.mp4" type="video/mp4">
      </video>
      <div class="container pg-empty-placeholder"></div>
      <div class="container pg-empty-placeholder"></div>
      <div class="container pg-empty-placeholder"></div>
      <div class="container pg-empty-placeholder"><h1>Pilot Roster</h1></div>
      <div class="container">
        <%= link_to "Take Off", locations_path, class: "btn btn-outline btn-outline-xl outline-light bg-offwhite-hover bg-concrete" %>
      </div>
      <!-- /.container -->
    </section>
  </body>
</html>
