<section class="content-block-nopad bg-deepocean footer-wrap-1-3">
  <div class="container footer-1-3">
    <div class="col-md-4 pull-left">
      <%= image_tag "emblems/USAF_Logo_Silver.png", size: "100", class: "brand-img img-responsive" %>
      <!-- <img src="images/brand/pgblocks-logo-white.png" class="brand-img img-responsive"> -->
      <ul class="social social-light">
        <li>
          <a href="https://www.facebook.com/USairforce/" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/usairforce" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
        </li>
        <li>
          <a href="http://www.af.mil/" target="_blank"><i class="fa fa-2x fa-google-plus"></i></a>
        </li>
        <li>
          <a href="https://www.pinterest.com/usairforce/" target="_blank"><i class="fa fa-2x fa-pinterest"></i></a>
        </li>
      </ul>
      <!-- /.social -->
    </div>
    <div class="col-md-3 pull-right">

      <p class="address-bold-line">Created with pride for the USAF fighter community </p>
      <br>
      <p class="address-bold-line"><i class="fa fa-fighter-jet fa-rotate-270 gray"></i>&nbsp;&nbsp;&nbsp;&nbsp;'Fight's On'&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-fighter-jet fa-rotate-270 gray"></i></p>

      <p class="address small">
      Vertical Up Design<br>
      Washington D.C.</p>

    </div>
    <div class="col-xs-12 footer-text">
      <p><a href="#"></a></p>
      <p><a href="#"></a></p>
    </div>
  </div>
</section>
