<section class="content-block team-1 team-1-2">
  <div class="container">
    <div class="underlined-title">
      <h1>Locations</h1>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 team-member-wrap">
        <div class="team-member">
          <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
          <div class="team-details">
            <h4 class="member-name">Full Name</h4>
            <p class="position">Co-Founder</p>
            <!-- End of Location -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team-member-wrap">
        <div class="team-member">
          <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
          <div class="team-details">
            <h4 class="member-name">Full Name</h4>
            <p class="position">Co-Founder</p>
            <!-- End of Location -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team-member-wrap">
        <div class="team-member">
          <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
          <div class="team-details">
            <h4 class="member-name">Full Name</h4>
            <p class="position">Co-Founder</p>
            <!-- End of Location -->
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 team-member-wrap">
        <div class="team-member">
          <img src="http://placehold.it/600x500" class="img-responsive" alt="Member Image">
          <div class="team-details">
            <h4 class="member-name">Full Name</h4>
            <p class="position">Co-Founder</p>
            <!-- End of Location -->
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
