<div class="container">
  <h1>Edit Pilot</h1>
</div>

<%= render 'form' %>

<div class="container">
  <%= link_to "Delete Pilot", pilot_path(@pilot), method: :delete, class: "btn btn-danger" %>
</div>
