<div class="container">
  <h1>Edit Location</h1>
</div>

<%= render "form" %>

<div class="container">
  <!-- Would use @location instead of location_path -->
  <%= link_to "Delete", location_path, method: :delete, class: "btn btn-danger" %>
</div>
